<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/Style.css">
    <title>SimplesNote</title>
</head>
<body>
    <form action="/Add_Note" method="post">
        <h1>Add note</h1>
        <input type="text" name="Title" id="Title" placeholder="Title" required>
        <input type="text" name="Desc" id="Desc" placeholder="Description" required>
        <input type="submit" value="Add">
    </form>

</body>
</html>