<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/Style.css">
    <title>SimplesNote</title>
</head>
<body>
    <form action="/Register" method="post">
        <h1>SimplesNote</h1>
        <input type="text" name="Username" id="Username" placeholder="Name" required>
        <input type="password" name="Password" id="Password" placeholder="Password" required>
        <input type="email" name="Email" id="Email" placeholder="Email" required>
        <input type="submit" value="Create Account">
    </form>

</body>
</html>